<center>

<div class="row">
  <div class="large-12 large-centered columns">
      <hr>
    <%= image_tag 'collage.jpg', :id=> 'collage' %>
    <div>
      <a class="button" href="#" class="btn btn-large btn-success">Preview</a>
      <input type="text" name="name" id="friend_name" value="Enter the recipient's name here..." style="width:300px;text-align:center;font-family:tahoma">
      <div id="user_nav">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook",:id => "sign_in", :class=> 'send_it' %>
    <% end %>
  </div>
    </div>

    <div> 
     <a href="#" data-reveal-id="myModal" class ="button">Click Me For A Modal</a>
    </div>

  </div> <!--12-Columns-->
</div> <!-- Row --> 

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>YAAY YOU DID IT!</h2>
      <%= form_tag postcards_path do %>
        <%= label_tag :name_of_friend %>
        <%= text_field_tag :name_of_friend, params[:name_of_friend] %>

        <%= label_tag :address %>
        <%= text_field_tag :address, params[:address] %>

        <%= label_tag :address_of_friend %>
        <%= text_field_tag :address_of_friend, params[:address_of_friend] %>

        <%= label_tag :city_of_friend %>
        <%= text_field_tag :city_of_friend, params[:city_of_friend] %>

        <%= label_tag :state_of_friend %>
        <%= text_field_tag :state_of_friend, params[:state_of_friend] %>

        <%= label_tag :zip_of_friend %>
        <%= text_field_tag :zip_of_friend, params[:zip_of_friend] %>

        <%= label_tag :note %>
        <%= text_field_tag :note, params[:note] %>

        <%= submit_tag "Send!", class: "btn btn-large btn-primary" %>
    <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>


<script type="text/javascript">

$('a#sign_in').click(function() {
  var val = $('input#friend_name').val();
   var _href = $('a#sign_in').attr("href"); 
  $("a#sign_in").attr("href", _href + '?p=' + val);
});


</script>

</center>


<!--script>
$(document).ready(function() {

$( "#button" ).click(function() {
  //$( "collage" ).slideUp();
   //alert("YOU DID IT!");
   document.getElementById("collage").src= "../../assets/images/collage.jpg";

});

$("#button2").avrund({
        height:200,
        holderClose:true,
        showCloseText:'Close',
        enableStackAnimation:true,
        onBlurContainer:'.container',
        template:'<p>So this worked!</p>'
    }); });   
</script>
