<center>
<div class="row">
  <div class="large-12 large-centered columns">
      <hr>
    <%= image_tag 'collage.jpg', :id=> 'collage' %>
    <div>
      <a class="button" href="#" class="btn btn-large btn-success">Preview</a>
      <input type="text" name="name" value="Enter the recipient's name here..." style="width:300px;text-align:center;font-family:tahoma">
    </div>

    <div> 
      <input type="text" name="address" value="Enter the recipients address here..." style="width:300px;text-align:center;font-family:tahoma">&nbsp;
     <a href="#" data-reveal-id="myModal" class ="button">Click Me For A Modal</a>
    </div>

  </div> <!--12-Columns-->
</div> <!-- Row --> 

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>YAAY YOU DID IT!</h2>
      <%= form_tag users_path do %>
        <%= label_tag :name_of_friend %>
        <%= text_field_tag :name_of_friend, params[:name_of_friend] %>

        <%= label_tag :address %>
        <%= text_field_tag :address, params[:address] %>

        <%= label_tag :address_of_friend %>
        <%= text_field_tag :address_of_friend, params[:address_of_friend] %>

        <%= label_tag :note %>
        <%= text_field_tag :note, params[:note] %>

        <%= submit_tag "Send!", class: "btn btn-large btn-primary" %>
    <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>


</center>




<!--script>
$(document).ready(function() {

$( "#button" ).click(function() {
  //$( "collage" ).slideUp();
   //alert("YOU DID IT!");
   document.getElementById("collage").src= "../../assets/images/collage.jpg";

});

$("#button2").avrund({
        height:200,
        holderClose:true,
        showCloseText:'Close',
        enableStackAnimation:true,
        onBlurContainer:'.container',
        template:'<p>So this worked!</p>'
    }); });   
</script>
