<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= javascript_include_tag  "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


  <div id="user_nav">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>


    <div class="content">
      <div class="row">
        <div class="large-12 large-12 columns">
          <%= image_tag 'horchata.png', :class=>'left', :width => '20%', :style=>'padding-top:1em' %>
        </div> <!-- Large 12 columns-->
      </div> <!--Row-->

    <script>
   $(document).ready(function() {
      
      $( ".button" ).click(function(){
        $("#collage").css('visibility', 'visible');
      });


      $(".button2").click(function(){
         $("#collage").css('visibility', 'hidden');
        $('#myModal').foundation('reveal', 'open');
      });
  
  });
  </script>

      <%= yield %>      

    </div> <!-- Content -->

    <%= javascript_include_tag "application" %>
  </body>
</html>